<h1>Edit Team</h1>

<%= form_for @team do |team| %>
	<div>
		<%= team.text_field :name, placeholder: "Team Name", label: "Team Name" %>
	</div>
	<div>
		<%= submit_tag "Add team", class: "button" %>
	</div>
<% end %>