<h1>Add a new team</h1>


<%= form_for @team do |team| %>
  <div class="large-12 columns">
    <%= team.text_field :name, placeholder: "Team Name", label: "Team Name" %>
  </div>
  <div>
    <%= submit_tag "Add team", class: "button" %>
  </div>
<% end %>
