<h1><%= @itemtype.name %></h1>

<%= button_to "Delete Item Type", {:controller => :itemtypes,
      :action => 'destroy', :id => @itemtype.id }, :method => :delete %>

<%= link_to "Edit Item Type", edit_itemtype_path%>