<table>
  <thead>
    <tr>
      <th>Item Name</th>
    </tr>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td>
            <%= link_to item.name, item %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </thead>
</table>

<%= link_to "Add a new item", new_item_path%>